<p id="notice"><%= notice %></p>

<p>
  <h3>Name:</h3>
  <%= @post.name %>
</p>
<% if !@post.tags.empty? %>
  <ul>
    <% @post.tags.each do |tag| %>
      <li><%= link_to tag.name, tag %></li>
    <% end %>
  </ul>
<% end %>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
